@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    height: 100vh;
    background-color: #e8d5b7;
    font-size: 24px;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

  .clock{
    font-size: 3rem;
  }

  .wrapper{
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #f5b349;
    box-shadow: 10px 10px 10px #0e2430;
    color: #0e2430;
    border: 5px inset #fc3a51;
  }

  button {
    background: none;
    border: 1px inset #e8d5b7;
    border-radius: 10px;
    color: #0e2430;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
  }

  button:hover {
   background-color: #fc3a51;
  }

  p{
    color:#0e2430;
    font-family: 'Neucha', cursive;
  }

  .length-control-wrapper {
    display: inline-flex;
    align-items: center; 
    margin: 1rem; 
    padding: 1rem; 
  }
  
  .controls {
    display: inline-flex;
    align-items: center; 
    margin: 1rem; 
    padding: 1rem; 
  }

  #session{
    background-color: #0e2430;
    color: #f5b349;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }